<div class="loginForm">
  <h2> Log In</h2>

  <a routerLink="/signUp" title="Click Here To Register"><p>New To Price Watcher? Create an Account</p></a>

  <div class="loginInputs">
    <form id="form1">
      <label for="email">Email</label><br><br>
      <input name="email" id="email" type="text" placeholder="Type Your Email Here" #email><br><br>
      <label for="password">Password</label><br><br>
      <input name="password" id="password" type="password" placeholder="Type Your Password Here" #password><br><br>

      <button (click)="onSignin(email.value, password.value)">Log In</button><br>
    </form>
  </div>
</div>



