<div class="searchBar">
  <label for="currencySearch">Search For Metals:</label><br>
  <input type="text" id="currencySearch" name="currencySearch" placeholder="Type Your Metal Here"><br><br>
</div>

<div class="currencyList">
  <label for="currencyBase">Choose Your Base Currency:</label><br>
  <select id="currencyBase">
    <option>USD</option>
    <option>PLN</option>
    <option>GBP</option>
    <option>CHF</option>
    <option>EUR</option>
  </select>
</div>

<div class="currenciesContainer">

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> XAG/{{metalsList.baseCurrency}} {{metalsList.rates.XAG}}/{{metalsList.unit}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 7%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> XAU/{{metalsList.baseCurrency}} {{metalsList.rates.XAU}}/{{metalsList.unit}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 10%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> PL/{{metalsList.baseCurrency}} {{metalsList.rates.PL}}/{{metalsList.unit}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 10%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> PA/{{metalsList.baseCurrency}} {{metalsList.rates.PA}}/{{metalsList.unit}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 10%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>
</div>
