<app-search [name]="'Metals'" (searchOutput)="getSearch($event)"></app-search>

<div class="currencyList">
  <label for="currencyBase">Choose Your Base Currency:</label><br>
  <select id="currencyBase" [(ngModel)]="currencyBase" (change)="getMetals()">
    <option value='USD'>USD</option>
    <option value='PLN'>PLN</option>
    <option value='GBP'>GBP</option>
    <option value='CHF'>CHF</option>
    <option value='EUR'>EUR</option>
  </select>
</div>

<div class="currenciesContainer">
  <ng-container *ngIf="metalsList">
    <div *ngFor="let rate of metalsSearch">
      <div class="currencyTile">
        <button (click)="firebaseService.addToFav(metalsList.baseCurrency, rate.symbol, 'metal')">Add To Fav</button>
        <h3 class="oneToOneExchange"> Base Currency: {{metalsList.baseCurrency}} </h3>
        <h3 class="oneToOneExchange"> Metal: {{rate.symbol}}</h3>
        <h3 class="oneToOneExchange"> Price: {{rate.rate}} </h3>
        <h3 class="oneToOneExchange"> Unit: {{metalsList.unit}} </h3>
        <i class="fas fa-arrow-down"></i>
      </div>
    </div>
  </ng-container>

</div>
