<app-search [name]="'Metal'" (searchOutput)="getSearch($event)"></app-search>

<div class="baseCurrSelect">
  <label for="slct">Choose Your Base Currency:</label><br><br>
  <div class="currencyList">
    <select name="slct" id="slct" [(ngModel)]="currencyBase" (change)="getMetals()">
      <option selected="selected" value='USD'>USD</option>
      <option value='JPY'>JPY</option>
      <option value='GBP'>GBP</option>
      <option value='CHF'>CHF</option>
      <option value='EUR'>EUR</option>
    </select>
  </div>
</div>

<div class="currenciesContainer">
  <ng-container *ngIf="metalsList">
    <div *ngFor="let rate of metalsSearch">
      <div class="currencyTile">
        <h3 class="oneToOneExchange"> Base Currency: <br> {{metalsList.baseCurrency}} </h3>
        <h3 class="oneToOneExchange"> Metal: <br> {{rate.symbol}}</h3>
        <h3 class="oneToOneExchange"> Price: <br> {{rate.rate.toPrecision(6)}} </h3>
        <h3 class="oneToOneExchange"> Unit: <br> {{metalsList.unit}} </h3>
        <div class="button">
          <div></div>
          <a class="favourites" *ngIf="firebaseService.isLoggedIn === 'true'" (click)="firebaseService.addToFav(metalsList.baseCurrency, rate.symbol, 'metal')">Add To Fav</a>
        </div>
        <a (click)="showChart(rate.symbol, metalsList.baseCurrency)"><i id="{{rate.symbol}}" class="fas fa-arrow-down"></i></a>
      </div>
      <div class="chartContainer">
        <app-trading-view *ngIf="show && this.temp === 'FX_IDC:' + rate.symbol + metalsList.baseCurrency" [symbol]="chartData"></app-trading-view>
      </div>
    </div>
  </ng-container>

</div>
