.favouritesContainer{
  width: 75%;
  height: auto;
  background-color: aqua;
  text-align: center;
}
.searchBar{
  text-align: center;
  margin-top: 5%;
}

.currencyList{
  text-align: right;
  margin-right: 2%;
}

.currenciesContainer{
  text-align: center;
}

.currencyTile{
  background-color: #039be5;
  width: 60em;
  margin: 3% auto auto;
  display: inline-block;
  vertical-align: top;
}

.favButton{
  float: left;
  margin: 2% 1% 1%;
}

.oneToOneExchange{
  float: left;
  margin-left: 5%;
}

.weeklyChange{
  float: left;
  margin-left: 5%;
}

.fa-arrow-down{
  float: right;
  margin: 2% 3% 1% 1%;
}

.fa-star{
  float: left;
  margin: 2% 1% 1%;
}
