
<h1> NEWS </h1>
<div class="newsContainer">

  <a href="https://www.bloomberg.com/news/articles/2021-01-21/china-stocks-rise-most-in-a-week-as-buyers-shift-from-hong-kong" target="_blank" title="Click To Open Article">
    <div class="newsTile">
      <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iOKazXSCOCoQ/v0/360x-1.jpg" alt="thumbnail">
      <h3 class="newsTitle">China Stocks Rise Most in a Week as Buyers Shift From Hong Kong</h3>
      <p class="newsSummary">China’s stocks climbed the most in a week as mainland traders shifted investments back onshore, as Hong Kong’s benchmark declined soon after passing a key milestone.</p>
    </div>
  </a>


  <a href="https://www.bloomberg.com/news/articles/2021-01-21/bull-chorus-for-em-gets-louder-as-technical-indicators-flash-red" target="_blank" title="Click To Open Article">
    <div class="newsTile">
      <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iNZBPmaSdAm0/v0/360x-1.jpg" alt="thumbnail">
      <h3 class="newsTitle">Warning Signs Flash as Emerging Markets Rally to Records</h3>
      <p class="newsSummary">Emerging-market stocks have set a new swath of record highs this week, driven by optimism over additional U.S. stimulus and a dovish Federal Reserve. The rally’s gaining momentum even as some technical indicators are showing a pullback is overdue.</p>
    </div>
  </a>
</div>
