.newsContainer{
  background-color: #9279FE;
  width: 60%;
  height: auto;
  min-height: 20em;
  margin: 2% auto auto;
  border-radius: 4px;
  position: relative;
}

h1{
  margin-top: 2%;
  text-align: center;
}

.newsTile{
  position: absolute;
  background-color: #039be5;
  width: 100%;
  border-radius: 4px;
  height: auto;
  min-height: auto;
  text-align: center;
  margin: auto;
}
