@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
div.container {
  width: 90%;
  padding: 15px 0 15px 15px;
  border-radius: 4px;
  margin: 1% 1% 1% 1%;
  background-color: #000d47;
}

div.box {
  box-sizing: border-box;
  width: 70%;
  float: left;
}

div.imgbox {
  box-sizing: border-box;
  width: 30%;
  float: left;
}

h3, h1 {
  text-align: center;
  color: white;
}
h1{
  color: white;
}
p {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
