<app-search [name]="'Stock'" (searchOutput)="getSearch($event)"></app-search>

<div class="currenciesContainer">
  <ng-container *ngIf="stocksList">
    <div *ngFor="let stock of stockSearch">
      <div class="currencyTile">
        <h3 class="oneToOneExchange" title="{{stock.name}}"> Stock Symbol: {{stock.symbol}} </h3>
        <h3 class="oneToOneExchange"> Base: USD </h3>
        <h3 class="oneToOneExchange"> Price: {{stock.price}} </h3>
        <h3 class="weeklyChange">Percentage change: {{stock.changesPercentage}}%</h3>
        <div class="button">
          <div></div>
          <a *ngIf="firebaseService.isLoggedIn === 'true'" (click)="firebaseService.addToFav('USD', stock.symbol, 'stock')">Add To Fav</a>
        </div>
        <i class="fas fa-arrow-down"></i>
      </div>
    </div>
  </ng-container>
</div>
