<app-search [name]="'Stock'" (searchOutput)="getSearch($event)"></app-search>
<div class="currenciesContainer">
  <ng-container *ngIf="stocksList">
    <div *ngFor="let stock of stockSearch">
      <div class="currencyTile">
        <h3 class="oneToOneExchange" title="{{stock.name}}"> Stock Symbol: <br> {{stock.symbol}} </h3>
        <h3 class="oneToOneExchange"> Base: <br> USD </h3>
        <h3 class="oneToOneExchange"> Price: <br> {{stock.price}} </h3>
        <h3 class="weeklyChange">Percentage change: <br> {{stock.changesPercentage}}%</h3>
        <div class="button">
          <div></div>
          <a class="favourites" *ngIf="firebaseService.isLoggedIn === 'true' && !isFavourite('USD', stock.symbol)" (click)="firebaseService.addToFav('USD', stock.symbol, 'stock')" routerLink="/stock">Add to Fav</a>
          <a class="removeFavourites" *ngIf="firebaseService.isLoggedIn === 'true'&& isFavourite('USD', stock.symbol)" (click)="removeFromFav('USD', stock.symbol)" routerLink="/stock">Remove From Fav</a>
        </div>
        <a (click)="showChart(stock.symbol, 'USD')"><i id="{{stock.symbol}}" class="fas fa-arrow-down"></i></a>
      </div>
      <div class="chartContainer">
        <app-trading-view *ngIf="show && this.chartData === 'NASDAQ:' + stock.symbol" [symbol]="chartData"></app-trading-view>
      </div>
    </div>
  </ng-container>
</div>
