<div class="searchBar">
  <label for="currencySearch">Search For Stocks:</label><br>
  <input type="text" id="currencySearch" name="currencySearch" placeholder="Type Your Stock Here"><br><br>
</div>

<div class="currenciesContainer">

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> {{stocksList[0]['symbol']}}/USD {{stocksList[0]['price']}}</h3>
    <h3 class="weeklyChange">Percentage change: {{stocksList[0]['changesPercentage']}}%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> {{stocksList[1]['symbol']}}/USD {{stocksList[1]['price']}}</h3>
    <h3 class="weeklyChange">Percentage change: {{stocksList[1]['changesPercentage']}}%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> {{stocksList[2]['symbol']}}/USD {{stocksList[2]['price']}}</h3>
    <h3 class="weeklyChange">Percentage change: {{stocksList[2]['changesPercentage']}}%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

</div>
