<div class="signUpForm">
  <h2> Sign Up</h2>

  <a routerLink="/login" title="Click Here To Login"><p>Already Have An Account? Log In Here</p></a>

  <div class="signUpInputs">
    <form id="form2">
      <label for="email">Email</label><br><br>
      <input name="email" id="email" type="text" placeholder="Type Your Email Here"  #emailSignup><br><br>
      <label for="password">Password</label><br><br>
      <input name="password" id="password" type="password" placeholder="Type Your Password Here" #passwordSignup><br><br>
<!--      <label for="nickname">Nickname</label><br><br>-->
<!--      <input name="nickname" id="nickname" type="text" placeholder="Type Your Nickname"><br><br>-->

      <button type="submit" form="form2" value="Sign Up" (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign Up</button><br>
    </form>
  </div>
</div>
