@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
h3{
  color: white;
}
.baseCurrSelect{
text-align: right;
}
.currenciesContainer{
  text-align: center;
}
.currencyTile{
  background-color: #000d47;
  width: 70em;
  margin: 3% auto auto;
  vertical-align: top;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.oneToOneExchange{
  float: left;
  margin-left: 5%;
}
.fa-arrow-down{
  float: left;
  color: white;
  width: 30px;
  height: 30px;
  margin: 15% 3% 1% 30%;
}
label {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.currencyList {
  text-align: right;
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2C3E50;
  overflow: hidden;
  border-radius: .25em;
  float: right;
  color: white;
}
.currencyList::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495E;
  pointer-events: none;
}
.currencyList:hover::after {
  color: black;
}
.currencyList::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: #000d47 none;
  border:1px solid black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-color: white;
  border-style: solid;
  float: left;
  margin-top: 10%;
  margin-left: 30%;
}
a:hover{
  color: #111;
  background: #fff;
}
