@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

h3{
  color: white;
}

.currencyList{
  text-align: right;
  margin-right: 2%;
}

.currenciesContainer{
  text-align: center;
}

.currencyTile{
  background-color: #000d47;
  width: 60em;
  margin: 3% auto auto;
  display: inline-block;
  vertical-align: top;
}

.oneToOneExchange{
  float: left;
  margin-left: 5%;
}


.fa-arrow-down{
  float: right;
  color: white;
  margin: 2% 3% 1% 1%;
}

a:hover{
  color: #111;
  background: #fff;
}
label {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  float: right;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: #000d47;
  background-image: none;
  border:1px solid black;
}
.currencyList {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2C3E50;
  overflow: hidden;
  border-radius: .25em;
  float: right;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.currencyList::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495E;
  pointer-events: none;
}
.currencyList:hover::after {
  color: #F39C12;
}

<!-- For different browsers -->
.currencyList::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-color: white;
  border-style: solid;
}
