<app-search [name]="'Cryptocurrency'" (searchOutput)="getSearch($event)"></app-search>

<label for="slct">Choose Your Base Currency:</label><br><br>
<div class="currencyList">
  <select name="slct" id="slct" [(ngModel)]="cryptoCurrencyBase" (change)="getCryptoCurrencies()">
    <option selected="selected" value='USD'>USD</option>
    <option value='PLN'>PLN</option>
    <option value='GBP'>GBP</option>
    <option value='CHF'>CHF</option>
    <option value='EUR'>EUR</option>
  </select>
</div>
<div style="clear: both"></div>

<div class="currenciesContainer">
  <ng-container *ngIf="cryptoCurrencyList">
    <div *ngFor="let crypto of cryptoList">
      <div *ngFor="let inner of crypto.rate">
        <div class="currencyTile">

          <h3 class="oneToOneExchange"> Base Currency: {{inner.rateSymbol.toUpperCase()}} </h3>
          <h3 class="oneToOneExchange"> CryptoCurrency: {{crypto.symbol.toUpperCase()}} </h3>
          <h3 class="oneToOneExchange"> Current Price: {{inner.ratePrice}} </h3>
          <div class="button" id="button-6">
            <div id="spin"></div>
            <a (click)="firebaseService.addToFav(inner.rateSymbol, crypto.symbol, 'cryptocurrencies')">Add to Fav</a>
          </div>
          <i class="fas fa-arrow-down"></i>
        </div>
      </div>
    </div>
  </ng-container>
</div>
