<div class="searchBar">
  <label for="currencySearch">Search For Cryptocurrencies:</label><br>
  <input type="text" id="currencySearch" name="currencySearch" placeholder="Type Your Cryptocurrency"><br><br>
</div>

<div class="currencyList">
  <label for="currencyBase">Choose Your Base Currency:</label><br>
  <select id="currencyBase" [(ngModel)]="cryptoCurrencyBase" (change)="getCryptoCurrencies()">
    <option value='USD'>USD</option>
    <option value='PLN'>PLN</option>
    <option value='GBP'>GBP</option>
    <option value='CHF'>CHF</option>
    <option value='EUR'>EUR</option>
  </select>
</div>

<div class="currenciesContainer">
  <ng-container *ngIf="cryptoCurrencyList">
    <div *ngFor="let crypto of cryptoCurrencyList.rates">
      <div *ngFor="let inner of crypto.rate">
        <div class="currencyTile">
          <h3 class="oneToOneExchange"> Base Currency: {{inner.rateSymbol}} </h3>
          <h3 class="oneToOneExchange"> CryptoCurrency: {{crypto.symbol}} </h3>
          <h3 class="oneToOneExchange"> Current Price: {{inner.ratePrice}} </h3>
          <i class="fas fa-arrow-down"></i>
        </div>
      </div>
    </div>
  </ng-container>

</div>
