<div class="searchBar">
  <label for="currencySearch">Search For Currencies:</label><br>
  <input type="text" id="currencySearch" name="currencySearch" placeholder="Type Your Currency Here"><br><br>
</div>

<div class="currencyList">
  <label for="currencyBase">Choose Your Base Currency:</label><br>
    <select id="currencyBase">
      <option>USD</option>
      <option>PLN</option>
      <option>GBP</option>
      <option>CHF</option>
      <option>EUR</option>
    </select>
</div>

<div class="currenciesContainer">

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> USD/{{currencyList.base_currency_code}} {{currencyList.rates['USD'].rate}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 3%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>

  <div class="currencyTile">
    <h3 class="oneToOneExchange"> PLN/{{currencyList.base_currency_code}} {{currencyList.rates['PLN'].rate}}</h3>
    <h3 class="weeklyChange">Change Over 7 Days: 5%</h3>
    <i class="fas fa-arrow-down"></i>
  </div>
</div>

