<app-search [name]="'Currency'" (searchOutput)="getSearch($event)"></app-search>

<div class="baseCurrSelect">
  <label for="slct">Choose Your Base Currency:</label><br><br>
  <div class="currencyList">
    <select name="slct" id="slct" [(ngModel)]="currencyBase" (change)="getCurrencies(currencyBase)">
      <option selected="selected" value='USD'>USD</option>
      <option value='PLN'>PLN</option>
      <option value='GBP'>GBP</option>
      <option value='CHF'>CHF</option>
      <option value='EUR'>EUR</option>
    </select>
  </div>
</div>

<div class="currenciesContainer">
  <ng-container *ngIf="currencyList">
    <div *ngFor="let rate of searchRates">
      <div class="currencyTile">
        <h3 class="oneToOneExchange">Base Currency: <br>  {{currencyList.base_currency_code}}</h3>
        <h3 class="oneToOneExchange" title="{{rate.name}}"> Currency: <br> {{rate.base}} </h3>
        <h3 class="oneToOneExchange"> Current Price: <br> {{rate.rate}} </h3>
        <div class="button">
          <div></div>
          <a class="favourites" *ngIf="firebaseService.isLoggedIn === 'true'" (click)="firebaseService.addToFav(currencyList.base_currency_code, rate.base, 'currencies')">Add To Fav</a>
        </div>
        <a (click)="changeShowing()"><i class="fas fa-arrow-down"></i></a>
        <app-trading-view id="bla" *ngIf="show" [symbol]="rate.base + currencyList.base_currency_code"></app-trading-view>
      </div>
    </div>

  </ng-container>
</div>

