@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.userInfo{
  width: 50em;
  height: 30em;
  background-color: #000d47;
  margin: 3% auto auto;
  color: white;
}
img{
  width: 200px;
  height: 300px;
  float: left;
  margin: 4% 4% 4% 4%;
}

.inputs{
  float: right;
  margin-right: 30%;
  margin-top: 4%;
  text-align: center;
}
