@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.userInfo{
  width: 50em;
  height: 30em;
  background-color: #000d47;
  margin: 3% auto auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
img{
  width: 200px;
  height: 300px;
  margin: 8% 8% 8% 8%;
}
progress{
  clear: both;
  margin-left: 40px;
  margin-bottom: 10px;
}
#fileButton{
  clear: both;;
  margin-left: 20px;
}

.inputs{
  margin-top: 4%;
  text-align: center;
}
.buttonDiv{
  margin-left: 50px;
  margin-top: 50px;
}
a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-color: white;
  border-style: solid;
}
a:hover{
  color: #111;
  background: #fff;
}

