
<div class="userInfo">
  <img src="./assets/profilepic.jpeg" alt="profilePic">

  <div class="inputs">
    <label for="userName">Your First Name:</label><br><br>
    <input id="userName" placeholder="{{getUserData().valueOf()}}"><br><br>

    <label for="userSurname">Your Surname:</label><br><br>
    <input id="userSurname" placeholder="Type Your Surname Here"><br><br>

    <label for="userEmail">Your Email:</label><br><br>
    <input id="userEmail" placeholder="Type Your Email Here"><br><br>

    <label for="userPassword">Your Password:</label><br><br>
    <input id="userPassword" placeholder="Type Your Password Here"><br><br>

    <label for="userNickname">Your Nickname:</label><br><br>
    <input id="userNickname" placeholder="Type Your Nickname Here"><br><br>
  </div>

</div>
