<nav>
  <div class="logo">
    <a routerLink="/landingPage">
      <img src="./assets/logo2.png" alt="logo" class="logo">
    </a></div>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><a routerLink="/currencies">Currencies</a></li>
    <li><a routerLink="/cryptocurrencies">Cryptocurrencies</a></li>
    <li><a routerLink="/stock">Stock</a></li>
    <li><a routerLink="/metals">Metals</a></li>
    <li><a routerLink="/landingPage">News</a></li>

    <li *ngIf="firebaseService.isLoggedIn === 'false' || firebaseService.isLoggedIn === null"><a class="active" routerLink="/login">Log In</a></li>
    <li *ngIf="firebaseService.isLoggedIn === 'false' || firebaseService.isLoggedIn === null"><a class="active" routerLink="/signUp">Sign Up</a></li>

    <li *ngIf="firebaseService.isLoggedIn === 'true'"><a routerLink="/userFav">Favourites</a></li>
    <li *ngIf="firebaseService.isLoggedIn === 'true'"><a routerLink="/profile">Profile</a></li>
    <li *ngIf="firebaseService.isLoggedIn === 'true'"><a class="active" (click)="logout()" routerLink="/landingPage">Logout</a></li>
  </ul>
</nav>
