.container{
  width: auto;
  background-color: lightslategray;
  height: 200px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  float: left;
}

.tile :visited, :link {
  color: #334953;
}

.tile{
  background-color: #9279FE;
}

.tile:hover{
  color: #039be5;
  background-color: #cfd8dc;
}

.tile.active{
  color: #039be5;
}

.tile{
  width: 7em;
  height: 3em;
  text-align: center;
  margin-left: 7em;
  margin-top: 70px;
}

.logIn{
  width: 3em;
  height: 3em;
  background-color: #039be5;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
}

.singIn{
  width: 3em;
  height: 3em;
  background-color: #039be5;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
}
