<div class="container">
  <a href="">
    <img src="./assets/logo.png" alt="logo" class="logo">
  </a>
  <div class="grid grid-pad">
    <div class="col-1-4">
      <a routerLink="/currencies"> currencies </a>
    </div>
    <div class="col-1-4">
      <a routerLink="/cryptocurrencies"> cryptocurrencies </a>
    </div>
    <div class="col-1-4">
      <a routerLink="/cryptocurrencies"> cryptocurrencies </a>
    </div>
    <div class="col-1-4">
      <a routerLink="/cryptocurrencies"> cryptocurrencies </a>
    </div>
  </div>
</div>


