<div class="container">

  <nav>
    <a routerLink="/landingPage">
      <img src="./assets/logo2.png" alt="logo" class="logo">
    </a>

    <a routerLink="/currencies" class="tile"><p>currencies</p></a>
    <a routerLink="/cryptocurrencies" class="tile"><p>cryptocurrencies</p></a>
    <a routerLink="/stock" class="tile"><p>stock</p></a>
    <a routerLink="/metals" class="tile"><p>metals</p></a>
    <a routerLink="/landingPage" class="tile"><p>news</p></a>

    <a routerLink="/login" class="logIn"><p>Log In</p></a>
    <a routerLink="/signUp" class="signUp"><p>Sign Up</p></a>

  </nav>

</div>
