nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  background-color: #9279FE;
  border-radius: 4px;
  float: left;
  display: grid;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
.logo{
  float: left;
}
