.container{
  width: auto;
  background-color: lightslategray;
  height: auto;
  min-height: 6em;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  float: left;
}

.tile :visited, :link {
  color: #334953;
}

.tile:hover{
  color: #039be5;
  background-color: #cfd8dc;
}

.tile.active{
  color: #039be5;
}

.tile{
  width: auto;
  min-width: 6%;
  height: auto;
  min-height: 3em;
  text-align: center;
  margin-left: 4%;
  margin-top: 1%;
  background-color: #9279FE;
  display: flex;
}

.logIn{
  width: auto;
  min-width: 6%;
  height: auto;
  min-height: 3em;
  background-color: #039be5;
  border-radius: 10px;
  margin-left: 15%;
  text-align: center;
  display: flex;
  margin-top: 1%;
}

.singIn{
  width: auto;
  min-width: 6%;
  height: auto;
  min-height: 3em;
  background-color: #039be5;
  border-radius: 10px;
  margin-left: 1%;
  text-align: center;
  display: flex;
  margin-top: 1%;
}
.logo{
  margin-top: 1em;
}
p{
  margin: auto;
}
